NEXT_PUBLIC_SUPABASE_URL=https://bjntkpqfybmbhidgmnmu.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJqbnRrcHFmeWJtYmhpZGdtbm11Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc5NjA4MDAsImV4cCI6ITMwMjM1MzY4MDAwfQ.ZdDsvySDXsidm-uGRtlmGb15r9dYcalvpoUPhgti8k
